/* $Id$ */

.delegator-operations {
  text-align: right;
}

.delegator-breadcrumb {
  font-size: 120%;
}

.delegator-current {
  font-weight: bold;
}

.delegator-locked {
  color: red;
  border: 1px solid red;
  padding: 1em;
}

.delegator-operations div {
  display: inline;
}

.delegator-disabled {
  color: #ccc;
}

.delegator-operations select {
  width: 10em;
}

